@model Toko_Olahraga.Models.Pembeli

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pembeli</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NamaPembeli)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NamaPembeli)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JenisKelamin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JenisKelamin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NoTlp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NoTlp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Alamat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Alamat)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdPembeli">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
